<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wdevnet:Contact Us</title>
    <link rel="stylesheet" href="contactus.css" type="text/css">
</head>
<body>
<div class="bgimg-1">
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()" style="font-size: xx-large">&#x2716;</a>
        <a href="home.html">Home</a>
        <a href="workwithus.html">Work with us</a>
        <a href="service.html">Service</a>
        <a href="aboutus.html">About Us</a>
        <a href="contactus.html">Contact Us</a>
    </div>
    <ul class="nav">
        <li><a href="home.html" style="text-decoration: none; color: white;"><span style="float: left; font-size: 30px;">Wdevnet</span></a></li>
        <li><span id="navbar" style="font-size: 30px; cursor:pointer;" onclick="openNav()">&#9776</span></li>
    </ul>
    <header style="text-align: center">
        <br>
        <br>
        <br>
        <br>
        <h1 style="text-align: center; font-size: 50px; background-color: rgba(255,255,255,0.58); border: 2px solid black; padding: 10px 20px; margin: 20px 50px;">Contact Us</h1>
        <br>
        <img id="laptop" src="./images/extralogo/planet.svg">
    </header>

</div>
<br>
<hr>
<br>
<div style="position: relative;">
    <h1 style="color: black; font-size: 34px; text-align: center;">Mail us your details</h1>
</div>

<div class="bg-img">

    <form action="" class="container">
        <form action="">
            <label>First Name</label>
            <input type="text" id="fname" name="firstname" placeholder="Your Name....">
            <label>Last Name</label>
            <input type="text" id="lname" name="lastname" placeholder="Your Last Name....">
            <label>Country</label>
            <select name="country" id="country">
                <option value="india">India</option>
                <option value="uk">UK</option>
                <option value="france">France</option>
                <option value="canada">Canada</option>
                <option value="usa">USA</option>
                <option value="japan">Japan</option>
                <option value="israel">Israel</option>
                <option value="newzealand">New Zealand</option>
                <option value="australia">Australia</option>
                <option value="others">Others</option>
            </select>
            <label>Subject</label>
            <textarea name="subject" id="subject" placeholder="Write Something..." style="height: 200px;"></textarea>
            <input type="submit" value="submit">
        </form>
    </form>
</div>
<br>
<hr>
<div style="position:relative;">
    <div id="footer">
        <h2>Follow us on:</h2>
        <br>
        <div id="socialmediabutton">
            <a href="#" class="socialbutton"><img src="./images/sociallogo/facebook.svg" alt="facebook button"></a>
            <a href="#" class="socialbutton"><img src="./images/sociallogo/instagram.svg" alt="instagram button"></a>
            <a href="#" class="socialbutton"><img src="./images/sociallogo/google-plus.svg" alt="google plus button"></a>
            <a href="#" class="socialbutton"><img src="./images/sociallogo/twitter.svg" alt="twitter button"></a>
            <a href="#" class="socialbutton"><img src="./images/sociallogo/skype.svg" alt="skype button"></a>
        </div>
        <br>
        <p style="text-align: center">or<br><span style="font-size: 24px;">Mail Us</span></p>
        <a href="mailto()" class="socialbutton"><img src="./images/sociallogo/contact.svg" alt="mail buttons"></a>
        <p>Copyright © 2018 Wdevnet  - All Rights Reserved.</p>
        <p>-------------------------------------------</p>
        <p style="font-size: 15px;">Developed By - Krushil Narola</p>
    </div>
</div>
<button onclick="topFunction()" id="topBtn" title="Go to top"><img src="./images/chevron-up.svg" style="width: 20px;"></button>
<script src="contactus.js"></script>
</body>
</html>