{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wdevnet:Contact Us</title>
    <link rel="stylesheet" href="{% static 'contactus.css' %}" type="text/css">
    <link rel="icon" type="image/ico" href="{% static './images/growth.png' %}">
</head>
<body>
<div class="bgimg-1">
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()" style="font-size: xx-large">&#x2716;</a>
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'workwithus' %}">Work with us</a>
        <a href="{% url 'service' %}">Service</a>
        <a href="{% url 'aboutus' %}">About Us</a>
        <a href="{% url 'contactus' %}" style="border-bottom: none;">Contact Us</a>
    </div>
    <ul class="nav">
        <li><span style="float: left; margin: auto 20px;"><a href="{% url 'home' %}"><img src="{% static './images/wdevnetwhite.jpg' %}" alt="company logo" style="width:100px;"></a></span></li>
        <li><span id="navbar" style="font-size: 30px; cursor:pointer;" onclick="openNav()">&#9776</span></li>
    </ul>
    <header style="text-align: center">
        <br>
        <br>
        <br>
        <br>
        <h1 style="text-align: center; font-size: 50px; background-color: rgba(255,255,255,0.58); border: 2px solid black; padding: 10px 20px; margin: 20px 50px;">Contact Us</h1>
        <br>
        <img id="laptop" src="{% static './images/extralogo/planet.svg' %}">
    </header>

</div>
<br>
<hr>
<br>
<div style="position: relative;">
    <h1 style="color: black; font-size: 34px; text-align: center;">Mail us your details</h1>
</div>

<div class="bg-img" style="text-align: center;">
    <a href="mailto:wdevnetcon@gmail.com"><img src="{% static './images/sociallogo/contact.svg' %}" alt="mail buttons" style="margin: 15%; background-color: transparent; width: 300px"></a>
</div>
<br>
<hr>
<div style="position:relative;">
    <div id="footer">
        <br>
        <div id="socialmediabutton">

          <a href="https://www.facebook.com/wdev.net.7" class="socialbutton"><img src="{% static './images/sociallogo/facebook.svg' %}" alt="facebook button"></a>
          <a href="https://www.instagram.com/wdevnetcompany/" class="socialbutton"><img src="{% static './images/sociallogo/instagram.svg' %}" alt="instagram button"></a>
          <a href="https://twitter.com/net_wdev?lang=en" class="socialbutton"><img src="{% static './images/sociallogo/twitter.svg' %}" alt="twitter button"></a>
          <a href="https://secure.skype.com/portal/overview" class="socialbutton"><img src="{% static './images/sociallogo/skype.svg' %}" alt="skype button"></a>

        </div>
        <br>
        <p>Copyright © 2018 Wdevnet  - All Rights Reserved.</p>
        <p>-------------------------------------------</p>
        <p style="font-size: 15px;">Designed By - Krushil Narola</p>
    </div>
</div>
<script src="{% static 'contactus.js' %}"></script>
</body>
</html>
