<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wdevnet:Home</title>
    <link rel="icon" type="image/ico" href="./images/extralogo/django-logo-F46C1DD95E-seeklogo.com.png">
    <link rel="stylesheet" href="home.css" type="text/css">
</head>
<body>
<header>
    <h1>Wdevnet</h1>
    <h2>Get your website here</h2>
</header>
<button onclick="topFunction()" id="topBtn" title="Go to top"><img src="./images/chevron-up.svg" style="width: 20px;"></button>
<div class="bg-1">
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()" style="font-size: xx-large">&#x2716;</a>
        <a href="home.html">Home</a>
        <a href="workwithus.html">Work with us</a>
        <a href="service.html">Service</a>
        <a href="aboutus.html">About Us</a>
        <a href="contactus.html">Contact Us</a>
    </div>
    <ul class="nav">
        <li><span style="float: left; font-size: 30px;">Wdevnet</span></li>
        <li><span id="navbar" style="font-size: 30px; cursor:pointer;" onclick="openNav()">&#9776</span></li>
    </ul>
    <div id="wdevnet">
        <br>
        <br>
        <h2 style="padding-top: 20px">What is Wdevnet ?</h2>
        <br>
        <br>
        <section id="what" class="s">
            <br>
            <br>
            <p><span>Wdevnet</span> is basically a webdeveloping company<br>
                which is under progress and soon going to be<br>
                one of the best webdeveloping companies.</p>
            <!--<img src="./images/61A9E423-ABFC-4371-8D71-20777A6123A9.jpg">-->
        </section>
        <br>
        <h2>What you get from Wdevnet ?</h2>
        <br>
        <br>
        <section id="get" class="s">
            <p><span>Wdevnet</span> makes website for you in minimum costing<br>
                with high quality animations and graphic designs. Which mainly<br>
                depends upon you like what animations you want from us for your website.</p>
        </section>
        <br>
        <h2>Who works in Wdevnet ?</h2>
        <br>
        <br>
        <section id="who" class="s">
            <p>Those who are passionate about design as well as programming<br>
                works with us. We hire a software engineers interested in web applications.<br> But should meet the minimum requirements </p>
        </section>
        <br>
        <h2>Service you get by Wdevnet</h2>
        <br>
        <br>
        <section id="service" class="s">
            <p>We from <span>Wdevnet</span> will give you free service for<br>
                1 year and after that would be charged as per problem customers<br> have with the websites. To place order visit service page.</p>
        </section>
        <br>
    </div>
</div>
<hr>
<div style="position: relative;">
    <div id="language">
        <br>
        <h2>Programming Languages used by us:</h2>
        <img src="./images/languagelogo/html.svg" alt="html5 logo">
        <img src="./images/languagelogo/css-3.svg" alt="css3 logo">
        <img src="./images/languagelogo/javascript-logo.svg" alt="javascript logo">
        <img src="./images/languagelogo/python-language-logotype.svg" alt="python logo">
        <br>
        <br>
        <br>
        <br>
    </div>
</div>
<hr>
<div class="bg-2">
<div id="x">
    <div class="center">
        <h2 style="color: snow;">Want to work with us ?</h2>
        <img src="./images/extralogo/handshake.svg" alt="support image" style="width:50px;">
        <br>
        <br>
        <br>
        <a href="workwithus.html" id="letRock">Let's rock</a>
    </div>
</div>
</div>
<hr>
<div style="position:relative;">
    <div id="footer">
        <h2>Follow us on:</h2>
        <br>
        <div id="socialmediabutton">
            <a href="#" class="socialbutton"><img src="./images/sociallogo/facebook.svg" alt="facebook button"></a>
            <a href="#" class="socialbutton"><img src="./images/sociallogo/instagram.svg" alt="instagram button"></a>
            <a href="#" class="socialbutton"><img src="./images/sociallogo/google-plus.svg" alt="google plus button"></a>
            <a href="#" class="socialbutton"><img src="./images/sociallogo/twitter.svg" alt="twitter button"></a>
            <a href="#" class="socialbutton"><img src="./images/sociallogo/skype.svg" alt="skype button"></a>
        </div>
        <br>
        <p style="text-align: center">or<br><span style="font-size: 24px;">Mail Us</span></p>
        <a href="mailto()" class="socialbutton"><img src="./images/sociallogo/contact.svg" alt="mail buttons"></a>
        <p>Copyright © 2018 Wdevnet  - All Rights Reserved.</p>
        <p>-------------------------------------------</p>
        <p style="font-size: 15px;">Developed By - Krushil Narola</p>
    </div>
</div>
<script src="home.js"></script>
</body>
</html>